body {
    font-family: Arial, sans-serif;
    background-color: #282c34;
    color: #252158;
    margin: 0;
    padding: 0;
}

header {
    background-color: #252158;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #252158;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
